body {
  background-color: #474444a9;
  }
#cadastro {
    background-position: center;
    background-size: cover;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
#h01 {
  font-family: "Times New Roman";
  text-align: center;
  color: #ff0000;
  background-color: #ffffff63;
  border-radius: 2px;
}

footer {
  background-color: #252323d5;
  text-align: center;
  margin-top: 70px;
}